---
import { storyblokEditable } from "@storyblok/astro";

import NavItem from "./NavItem.astro";
import NavSubItem from "./NavSubItem.astro";
const { blok } = Astro.props;
---

<section class="py-8" {...storyblokEditable(blok)}>
  <ul class="container flex gap-4">
    {
      blok.nav_items?.map((blok: any) => {
        return <NavItem blok={blok} />;
      })
    }
  </ul>
</section>
