---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
---

<article class="px-8" {...storyblokEditable(blok)}>
  <h1>{blok.headline}</h1>
</article>
